:root {
    --primary-color: #deb37e;
    --secondary-color: #e2a355;
    --tertiary-color: #7f7770;
    --dark-color: #54524f;
    --light-color: #fff;
    --gray-color: #dbdbdb;
    --dark2-color: #776c64;
}

body {
    font-family: "Open Sans", sans-serif;
    width: 100%;
}

.section {
    min-height: 1040px;
}

.viewport {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.text-primary {
    color: var(--primary-color) !important;
}

.tertiary-color {
    color: var(--tertiary-color) !important;
}

.light-color {
    color: var(--light-color) !important;
}

.btn {
    border-radius: 32px;
    text-transform: uppercase;
    padding: 1rem 3rem;
    letter-spacing: 3px;
    font-weight: 700;
}

.btn-sm {
    font-weight: 800;
    padding: 0.5rem 2rem;
    letter-spacing: 0;
    font-size: 25px;
}

.btn-light {
    background-color: #fff;
    border-color: #fff;
    color: var(--dark2-color);
}

.btn-light:hover {
    color: var(--light-color);
    border-color: var(--dark-color);
    background-color: var(--dark-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--light-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--light-color) !important;
}

.btn-tertiary {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    color: var(--light-color) !important;
}

.background-img {
    background-position: center;
    background-size: cover;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.menu-item a {
    text-decoration: none;
    color: var(--dark-color);
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 14px;
}

.menu-item a:hover {
    color: var(--primary-color);
}

.menu-list {
    display: flex;
    gap: 45px;
    height: 100%;
    align-items: center;
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    flex: 4;
    margin-bottom: 0;
}

.header-logo img {
    height: 100%;
    padding: 10px;
}

header .search-bar {
    position: relative;
    background-color: var(--tertiary-color);
    opacity: 0.5;
    border-radius: 25px;
    flex: 1;
}

header .search-bar.search-bar-mobile {
    border-radius: 25px;
    width: 75%;
    margin-top: 1.25rem;
    flex: unset;
}

header .search-bar input {
    border: 0;
    background: transparent;
    color: #fff;
    padding: 0.5rem 1rem;
    width: 75%;
}

header .search-bar input:focus-visible {
    outline: none;
}

header .search-bar button {
    border: 0;
    background: transparent;
    position: absolute;
    font-size: 20px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.banner {
    padding: 2rem 3rem;
}

.banner .banner-title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 92px;
    color: var(--secondary-color);
    filter: drop-shadow(2.575px -4.286px 2.5px rgba(84, 82, 79, 0.22));
}

.banner .banner-subtitle {
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    font-size: 25px;
    letter-spacing: 4px;
    margin-bottom: 30px;
    color: var(--dark-color);
    text-shadow: 2px 2px 2px #ffffff;
}

.banner .subtitle-body {
    margin-top: 15px;
    font-style: italic;
    letter-spacing: 0.5px;
    color: var(--dark-color);
    text-shadow: 2px 2px 2px #ffffff;
    font-size: 21px;
}

.section-title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 63px;
    color: var(--secondary-color);
}

.custom-card {
    background-color: #000;
    opacity: 0.4;
}

.custom-card-img {
    height: 300px;
    width: 100%;
}

.custom-card-title {
    font-weight: 700;
    font-size: 29px;
    color: var(--light-color);
}

.second-session {
    padding-bottom: 7rem;
}

.second-session p{
    font-size: 23px;
}

.third-session .session-card {
    background-color: var(--tertiary-color);
    padding: 4rem 3rem;
}

.third-session .session-card h6 {
    font-size: 58px;
    line-height: 1;
}

.third-session .session-card p {
    font-size: 29px;
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 9rem;
}

.fourth-section h2 {
    font-size: 58px;
    letter-spacing: 1px;
    color: var(--light-color);
}

.fourth-section p {
    color: var(--gray-color);
    width: 75%;
    text-align: center;
    font-size: 29px;
}

.testimonial-section .testimonial-title {
    color: var(--secondary-color);
    font-size: 33px;
    font-weight: 600;
}

.testimonial-section .testimonial-desc {
    font-size: 19px;
}

.testimonial-quotation {
    font-size: 100px;
    font-weight: 700;
    font-family: system-ui;
    line-height: 1;
}

.testimonial-primary {
    width: 75%;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 7rem;
}

.testimonial-primary h4 {
    font-weight: 600;
}

.testimonial-primary .testimonial-name {
    font-weight: 700;
    font-size: 21px;
}

.subscription-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscription-section h2 {
    color: var(--light-color);
    font-weight: 700;
    font-size: 75px;
}

.subscription-section p {
    width: 75%;
    text-align: center;
    color: var(--dark-color);
    font-size: 30px;
}

.subscription-section .subscription-form {
    position: relative;
    width: 50%;
}

.subscription-section .subscription-form input {
    border-radius: 25px;
    border: 0;
    padding: 0.75rem 1.25rem;
    width: 100%;
    font-size: 18px;
}

.subscription-section .subscription-form button {
    position: absolute;
    right: 0;
    top: 0;
    letter-spacing: 2px;
    font-size: 15px;
    height: 100%;
}

footer {
    font-family: "Montserrat", sans-serif;
    color: var(--gray-color);
    min-height: 720px;
    display: flex;
    align-items: center;
    font-size: 24px;
}

footer h6 {
    margin-bottom: 1.5rem;
    font-size: 32px;
    letter-spacing: 1px;
}

footer .footer-links a {
    text-decoration: none;
    color: var(--gray-color);
}

footer .footer-links ul li {
    margin-bottom: 0.25rem;
}

footer .footer-links a:hover {
    color: var(--dark-color);
}

.icon {
    display: flex;
    gap: 14px;
}

.icons {
    background: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
}

.icon .icons:hover {
    background-color: var(--tertiary-color) !important;
    border: 2px solid white;
    color: var(--light-color) !important;
}

.icons:hover a {
    color: var(--light-color) !important;
}

.icons a {
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--tertiary-color) !important;
    text-decoration: none;
    font-size: 23px;
}

@media (min-width: 768px) {
    .w-md-50 {
        width: 50% !important;
    }
}
